## $ROOT/software/.gitignore
## ROS-2 .gitignore

# colcon build artifacts
build/
install/
log/

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.coverage
.pytest_cache/

# C++ build artifacts
*.o
*.so
*.os
*.a
compile_commands.json

# ROS 2 specific
*.dox
*.wikidoc

# IDEs
.vscode/
.idea/